#e6gcf1wo8idg2 {
    animation: e6gcf1wo8idg2__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg2__m {
    0% {
        d: path('M157.500000,94.900000C164.300000,92.800000,175.500000,93,181.800000,88.600000C188.900000,83.700000,187.700000,74.500000,184.600000,67.600000C176.700000,50.100000,163,37.600000,149.800000,23.900000C143.800000,17.700000,138.900000,11.900000,130.200000,10.500000C122.100000,9.200000,113.100000,10.200000,104.800000,10.600000C87.400000,11.300000,72.700000,2.600000,60.300000,18.100000C55.100000,24.700000,51.200000,32.300000,45.500000,38.700000C40.300000,44.600000,36.400000,49.300000,32.900000,56.400000C29.300000,63.600000,24.200000,71.900000,24.300000,80.100000C24.400000,90.700000,32.100000,91.900000,41.100000,93.800000C43.500000,94.300000,45.800000,94.400000,48.300000,95.300000C47.200000,101.200000,43.200000,106.900000,41.100000,112.600000C39.100000,117.900000,37.100000,124,33.300000,127.900000C21.500000,140.100000,18.800000,118.800000,17.600000,110.200000C7.500000,108.500000,8.200000,123.700000,10.600000,129C14.100000,137,20.700000,143.900000,23.900000,152.200000C27.200000,160.900000,27,165.800000,23.300000,174.100000C19.100000,183.500000,25.400000,189.400000,35.300000,189.300000C39.800000,189.300000,43.600000,187,47.100000,184.300000C51.500000,180.900000,51.300000,179.500000,56.200000,182.200000C62,185.400000,72.100000,189.600000,79.100000,185C81.900000,183.200000,82.200000,179.200000,86,177.700000C89.400000,176.400000,94.600000,177.300000,98.200000,177.200000C106.700000,176.800000,114.900000,179.400000,123.600000,177.500000C126.200000,176.900000,128.600000,175.800000,130.800000,174.400000C133.900000,177.300000,133.700000,181.600000,137.400000,184.300000C140.700000,186.800000,145,187.300000,148.900000,187.400000C152.700000,187.600000,171.200000,187.200000,168.500000,180.600000C167.600000,178.300000,164.400000,178.900000,163.600000,175.900000C163.300000,175,164.700000,170.700000,164.700000,169.200000C164.600000,164.800000,163.200000,161,162.500000,156.700000C160.900000,147.800000,158.200000,139,155.600000,130.400000C153.700000,123.800000,140.500000,92.500000,157.200000,96.300000')
    }

    50% {
        d: path('M153.700000,86.750000C160.500000,84.650000,169.212119,80.183082,175.512119,75.783082C182.612119,70.883082,184.900000,59.950000,181.800000,53.050000C173.900000,35.550000,163,37.600000,149.800000,23.900000C143.800000,17.700000,138.900000,11.900000,130.200000,10.500000C122.100000,9.200000,113.100000,10.200000,104.800000,10.600000C87.400000,11.300000,75.378277,0.338191,61.200000,18.100000C56,24.700000,52.476119,33,46.776119,39.400000C42.752229,47.473508,39.037655,50.614744,35.537655,57.714744C31.937655,64.914744,30.146911,71.101271,28.064175,76.217342C28.164175,86.817342,34.213272,90.331071,41.100000,93.800000C43.500000,94.300000,45.800000,94.400000,48.300000,95.300000C47.200000,101.200000,44.300000,110.394217,42.200000,116.094217C40.200000,121.394217,40,126.500000,36.200000,130.400000C35.226793,148.778168,6.629119,141.061575,5.429119,132.461575C5.366973,148.002550,8.272924,146.833869,13.167726,152.100000C23.692560,158.911944,25.449600,158.346988,25.400000,158.400000C32.435687,167.052188,27,165.800000,23.300000,174.100000C19.100000,183.500000,25.400000,189.400000,35.300000,189.300000C39.800000,189.300000,43.600000,187,47.100000,184.300000C51.500000,180.900000,51.300000,179.500000,56.200000,182.200000C62,185.400000,72.100000,189.600000,79.100000,185C81.900000,183.200000,82.200000,179.200000,86,177.700000C89.400000,176.400000,94.600000,177.300000,98.200000,177.200000C106.700000,176.800000,114.900000,179.400000,123.600000,177.500000C126.200000,176.900000,128.600000,175.800000,130.800000,174.400000C133.900000,177.300000,133.700000,181.600000,137.400000,184.300000C140.700000,186.800000,145,187.300000,148.900000,187.400000C152.700000,187.600000,171.200000,187.200000,168.500000,180.600000C167.600000,178.300000,164.400000,178.900000,163.600000,175.900000C163.300000,175,164.700000,170.700000,164.700000,169.200000C164.600000,164.800000,163.200000,161,162.500000,156.700000C160.900000,147.800000,158.200000,139,155.600000,130.400000C153.700000,123.800000,144.376424,94.019316,155.600000,94.300000')
    }

    100% {
        d: path('M153.700000,86.750000C160.500000,84.650000,169.212119,80.183082,175.512119,75.783082C182.612119,70.883082,184.900000,59.950000,181.800000,53.050000C173.900000,35.550000,163,37.600000,149.800000,23.900000C143.800000,17.700000,138.900000,11.900000,130.200000,10.500000C122.100000,9.200000,113.100000,10.200000,104.800000,10.600000C87.400000,11.300000,75.378277,0.338191,61.200000,18.100000C56,24.700000,52.476119,33,46.776119,39.400000C42.752229,47.473508,39.037655,50.614744,35.537655,57.714744C31.937655,64.914744,30.146911,71.101271,28.064175,76.217342C28.164175,86.817342,34.213272,90.331071,41.100000,93.800000C43.500000,94.300000,45.800000,94.400000,48.300000,95.300000C47.200000,101.200000,44.300000,110.394217,42.200000,116.094217C40.200000,121.394217,40,126.500000,36.200000,130.400000C35.226793,148.778168,6.629119,141.061575,5.429119,132.461575C5.366973,148.002550,8.272924,146.833869,13.167726,152.100000C23.692560,158.911944,25.449600,158.346988,25.400000,158.400000C32.435687,167.052188,27,165.800000,23.300000,174.100000C19.100000,183.500000,25.400000,189.400000,35.300000,189.300000C39.800000,189.300000,43.600000,187,47.100000,184.300000C51.500000,180.900000,51.300000,179.500000,56.200000,182.200000C62,185.400000,72.100000,189.600000,79.100000,185C81.900000,183.200000,82.200000,179.200000,86,177.700000C89.400000,176.400000,94.600000,177.300000,98.200000,177.200000C106.700000,176.800000,114.900000,179.400000,123.600000,177.500000C126.200000,176.900000,128.600000,175.800000,130.800000,174.400000C133.900000,177.300000,133.700000,181.600000,137.400000,184.300000C140.700000,186.800000,145,187.300000,148.900000,187.400000C152.700000,187.600000,171.200000,187.200000,168.500000,180.600000C167.600000,178.300000,164.400000,178.900000,163.600000,175.900000C163.300000,175,164.700000,170.700000,164.700000,169.200000C164.600000,164.800000,163.200000,161,162.500000,156.700000C160.900000,147.800000,158.200000,139,155.600000,130.400000C153.700000,123.800000,144.376424,94.019316,155.600000,94.300000')
    }
}

#e6gcf1wo8idg3 {
    animation: e6gcf1wo8idg3__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg3__m {
    0% {
        d: path('M137.900000,42C141.900000,59.900000,153,76,154.600000,94.100000L152.200000,94.300000C138,112.600000,99.800000,107.400000,78.800000,103.100000C57.900000,100.100000,42.200000,101.400000,48.600000,77.800000C53.300000,61.600000,65.200000,44.700000,73.800000,31.800000')
    }

    50% {
        d: path('M137.900000,42C141.900000,59.900000,153,76,154.600000,94.100000L152.200000,94.300000C138,112.600000,117.589139,113.516178,96.589139,109.216178C75.689139,106.216178,51.200000,103.700000,57.600000,80.100000C62.300000,63.900000,55.899236,43.357366,79.100000,29.611805')
    }

    100% {
        d: path('M137.900000,42C141.900000,59.900000,153,76,154.600000,94.100000L152.200000,94.300000C138,112.600000,117.589139,113.516178,96.589139,109.216178C75.689139,106.216178,51.200000,103.700000,57.600000,80.100000C62.300000,63.900000,55.899236,43.357366,79.100000,29.611805')
    }
}

#e6gcf1wo8idg4 {
    animation: e6gcf1wo8idg4__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg4__m {
    0% {
        d: path('M145.600000,19.400000C156,36.400000,186,54,185.300000,74.300000C184.500000,93,166.400000,90.500000,153.900000,95.700000')
    }

    50% {
        d: path('M144.600000,18.100000C155,35.100000,182.500000,40.152850,181.800000,60.452850C181,79.152850,167.100000,79.800000,154.600000,85')
    }

    100% {
        d: path('M144.600000,18.100000C155,35.100000,182.500000,40.152850,181.800000,60.452850C181,79.152850,167.100000,79.800000,154.600000,85')
    }
}

#e6gcf1wo8idg5 {
    animation: e6gcf1wo8idg5__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg5__m {
    0% {
        d: path('M68.600000,10.800000C51.900000,23.600000,33.400000,53.600000,25.400000,72.900000C18,89.800000,33.600000,92.500000,47.600000,95.300000')
    }

    50% {
        d: path('M68.600000,10.800000C45.192645,37.672946,38.275311,52.100000,30.275311,71.400000C22.875311,88.300000,36.700000,92.500000,50.700000,95.300000')
    }

    100% {
        d: path('M68.600000,10.800000C45.192645,37.672946,38.275311,52.100000,30.275311,71.400000C22.875311,88.300000,36.700000,92.500000,50.700000,95.300000')
    }
}

#e6gcf1wo8idg9 {
    animation: e6gcf1wo8idg9__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg9__m {
    0% {
        d: path('M66.200000,39.400000C60.700000,50.400000,45,75.300000,47.700000,87.200000C47.800000,88,45.400000,89,44.600000,89.100000L44.800000,91.500000C40,91.100000,35.300000,90.100000,30.800000,88.700000C32.600000,90.200000,33.200000,88.500000,34.800000,88.300000')
    }

    50% {
        d: path('M66.200000,39.400000C60.700000,50.400000,58.588490,72.689440,56.458119,88C56.558119,88.800000,54.158119,89.800000,53.358119,89.900000L53.558119,92.300000C48.559056,94.168791,35.300000,90.100000,30.800000,88.700000C32.600000,90.200000,33.200000,88.500000,34.800000,88.300000')
    }

    100% {
        d: path('M66.200000,39.400000C60.700000,50.400000,58.588490,72.689440,56.458119,88C56.558119,88.800000,54.158119,89.800000,53.358119,89.900000L53.558119,92.300000C48.559056,94.168791,35.300000,90.100000,30.800000,88.700000C32.600000,90.200000,33.200000,88.500000,34.800000,88.300000')
    }
}

#e6gcf1wo8idg12 {
    animation: e6gcf1wo8idg12__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg12__m {
    0% {
        d: path('M100.900000,92.300000C99.600000,95.700000,97.400000,99.100000,97.200000,95.900000')
    }

    50% {
        d: path('M107.778580,92.300000C106.478580,95.700000,99.977959,99.188539,97.200000,95.900000')
    }

    100% {
        d: path('M107.778580,92.300000C106.478580,95.700000,99.977959,99.188539,97.200000,95.900000')
    }
}

#e6gcf1wo8idg14 {
    animation: e6gcf1wo8idg14__m 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg14__m {
    0% {
        d: path('M50.100000,95.900000C46.700000,103.500000,36.700000,127.900000,29.800000,132.500000C17.500000,140.100000,18.100000,119.700000,18.200000,110.800000C-7.700000,120.400000,30.800000,152.700000,28.600000,165C27,174.900000,10.900000,185.200000,33,187.300000C41.200000,188.200000,48.200000,184.400000,50.700000,176.800000')
    }

    50% {
        d: path('M50.100000,95.900000C46.700000,103.500000,37.700000,135.300000,30.800000,139.900000C18.500000,147.500000,10.326226,138.861779,5.429119,132.461575C5.242133,160.726364,30.800000,152.700000,28.600000,165C27,174.900000,10.900000,185.200000,33,187.300000C41.200000,188.200000,48.200000,184.400000,50.700000,176.800000')
    }

    100% {
        d: path('M50.100000,95.900000C46.700000,103.500000,37.700000,135.300000,30.800000,139.900000C18.500000,147.500000,10.326226,138.861779,5.429119,132.461575C5.242133,160.726364,30.800000,152.700000,28.600000,165C27,174.900000,10.900000,185.200000,33,187.300000C41.200000,188.200000,48.200000,184.400000,50.700000,176.800000')
    }
}

#e6gcf1wo8idg32_tr {
    animation: e6gcf1wo8idg32_tr__tr 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg32_tr__tr {
    0% {
        transform: translate(99.750775px, 415.686419px) rotate(9.018134deg)
    }

    50% {
        transform: translate(99.750775px, 415.686419px) rotate(-15.946372deg)
    }

    100% {
        transform: translate(99.750775px, 415.686419px) rotate(-15.946372deg)
    }
}

#e6gcf1wo8idg35_ts {
    animation: e6gcf1wo8idg35_ts__ts 2000ms linear 1 normal forwards
}

@keyframes e6gcf1wo8idg35_ts__ts {
    0% {
        transform: translate(106.535487px, 330.226000px) scale(-0.008351, -0.008351)
    }

    50% {
        transform: translate(106.535487px, 330.226000px) scale(-0.001670, -0.001670);
        animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
    }

    100% {
        transform: translate(106.535487px, 330.226000px) scale(1, 1)
    }
}